.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1180px;
  margin-bottom: 50px;
}
